<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a href="/"><img class="navbar-brand" src="/waterline-docs/assets/img/logo.png" /></a>
  </div>
  <div class="collapse navbar-collapse navbar-right" id="navbar-collapse-01">
    <ul class="nav navbar-nav">
      <li><a href="#fakelink">Get Started</a></li>
      <li><a href="#fakelink">Features</a></li>
      <li><a href="#fakelink">Support</a></li>
      <li class="active"><a href="#fakelink">Documentation</a></li>
    </ul>
  </div>
</nav>