<div class="col-md-2" id="sidebar">

  <div class="list-group">
    <a href="/waterline-docs/introduction/introduction.html" class="list-group-item">
      Introduction
    </a>
    <a href="/waterline-docs/models/models.html" class="list-group-item">
      Models
    </a>
    <a href="/waterline-docs/queries/query.html" class="list-group-item">
      Queries
    </a>
    <a href="/waterline-docs/integration/integration.html" class="list-group-item">
      Integration
    </a>
    <a href="/waterline-docs/adapters/adapters.html" class="list-group-item">
      Adapters
    </a>
    <a href="/waterline-docs/testing/testing.html" class="list-group-item">
      Testing
    </a>
    <a href="/waterline-docs/examples/examples.html" class="list-group-item">
      Examples
    </a>
  </div>

</div>