<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

  <!--jquery-->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!--bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.2.2/css/flat-ui.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script>
    $(function() {
      if (Modernizr.mq('(min-width: 992px)')) {
        var $sidebar   = $("#sidebar"),
          $window    = $(window),
          offset     = $sidebar.offset(),
          topPadding = 15;

        $window.scroll(function() {
          if ($window.scrollTop() > offset.top) {
            $sidebar.stop().animate({
              marginTop: $window.scrollTop() - offset.top + topPadding
            });
          } else {
            $sidebar.stop().animate({
              marginTop: 0
            });
          }
        });
      }
    });

    $(function() {
      if (location.pathname.split("/")[1]) {
        $('div.list-group a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
      }
    });
  </script>
</head>
<body>
<!-- Begin Body -->
<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a href="/"><img class="navbar-brand" src="/assets/img/logo.png" /></a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="navbar-collapse-01">
      <ul class="nav navbar-nav">
        <li><a href="#fakelink">Get Started</a></li>
        <li><a href="#fakelink">Features</a></li>
        <li><a href="#fakelink">Support</a></li>
        <li class="active"><a href="#fakelink">Documentation</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
  <!-- /navbar -->
  <div class="row">
    <div class="col-md-2" id="sidebar">

      <div class="list-group">
        <a href="/introduction/introduction.html" class="list-group-item">
          Introduction
        </a>
        <a href="/models/models.html" class="list-group-item">
          Models
        </a>
        <a href="/queries/query.html" class="list-group-item">
          Queries
        </a>
        <a href="/integration/integration.html" class="list-group-item">
          Integration
        </a>
        <a href="/adapters/adapters.html" class="list-group-item">
          Adapters
        </a>
        <a href="/testing/testing.html" class="list-group-item">
          Testing
        </a>
        <a href="/examples/examples.html" class="list-group-item">
          Examples
        </a>
      </div>

    </div>
    <div class="col-md-10">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Main Item</a></li>
        <li role="presentation"><a href="#">Language</a></li>
      </ul>
      {{content}}
    </div>
  </div>
  <div id="footer">
    <div class="container text-center">
      <p class="credit" style="margin-top: 25px; color:#C6C9CA"><a href="https://github.com/balderdashy/waterline-docs"><i class="fa fa-heart"></i><i class="fa fa-2x fa-github"></i></a></p>
    </div>
  </div>
</div>
</body>