{% include head.html %}
<body>
<!-- Begin Body -->
<div class="container">
  {% include navbar.html %}
  <!-- /navbar -->
  <div class="row">
    {% include sidebar.html %}
    <div class="col-md-10">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="./query.html">Queries</a></li>
        <li role="presentation"><a href="./query-language.html">Language</a></li>
        <li role="presentation"><a href="./query-methods.html">Methods</a></li>
      </ul>
      {{content}}
    </div>
  </div>
  {% include foot.html %}
</div>
</body>